@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 20px;
  --color-primary: #1e1e1e;
  --color-secondary: #f3f8fc;
}

body.dark {
  --color-primary: #f3f8fc;
  --color-secondary: #1e1e1e;
}

body {
  transition: background-color 0.2s;
  color: var(--color-primary);
  background-color: var(--color-secondary);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main,
section,
header .container,
footer .content {
  max-width: 1280px;
  padding-inline: 1rem;
}

header,
nav {
  background-color: var(--color-secondary);
}

section {
  margin: 0 auto;
  margin-top: 14em;
}

@media screen and (max-width: 768px) {
  section {
    margin-top: 6em;
  }
}

.name {
  font-size: 150px;
  line-height: 1;
  margin-top: -0.6em;
  max-width: 640px;
}

@media (max-width: 768px) {
  .name {
    font-size: 100px;
  }
}

.projects {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

button:hover .button__arrow {
  transform: translateX(0.5rem);
  display: flex;
}

.button__arrow {
  display: none;
  transition: all 0.3s;
}

button:disabled {
  opacity: 0.85;
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
